# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/
.cursor/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Lint
# ==========================
.mypy_cache/
.ruff_cache/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment
# ==========================
.env

# ==========================
# Dataset generado
# ==========================
dataset/features/
dataset/processed/

# Dataset enorme
dataset/raw/

# ==========================
# Modelos entrenados
# ==========================
models/checkpoints/
models/*.pth
models/*.pt
models/*.ckpt
models/*.onnx

# ==========================
# Audio temporal
# ==========================
*.wav
*.flac

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/